@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sail&display=swap');
body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Sail', cursive;
}
.banner-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./images/img-1.jpg);
    opacity: 0.9;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-text{
text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lollipop-primary{
    color: #ff6d84;
}
.lollipop-secondary{
    color: #8a7f7b;
}